<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="ArgentinaPrograma Logo" id="logoAP">
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/linkedin.png" alt="Linkedin"></a>
            <a href=""><img src="../../../assets/facebook.png" alt="Facebook"></a>
            <a href=""><img src="../../../assets/twitter.png" alt="Twitter"></a>
            <a href=""><img src="../../../assets/instagram.png" alt="Instagram"></a>
            <a href=""><img src="../../../assets/github.png" alt="GitHub"></a>
        </div>
        <div class="boton">
            <button type="button" class="btn btn-dark" (click)="login()" *ngIf="!isLogged">Ingresar</button>
            <button type="button" class="btn btn-dark" (click)="onLogOut()" *ngIf="isLogged">Cerrar sesión</button>
        </div>
    </div>
</div>

