.row {
    margin: 0;
    padding: 20px;
}
div {
    background-color: bisque;
    text-align: center;
}

/*Nombre*/
h1 {
    font-weight: bold;
    margin-top: 25%;
}

/*Foto de Perfil*/
@media (min-width: 576px){
    #fotoDePerfil {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 10px gray;
        left: 2%;
        top: 650px;
    }
}

@media (max-width: 575px){
    #fotoDePerfil {
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 10px gray;
        left: 35%;
        top: 650px;
    }
}