<div class="row"> 
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoPerfil.gif" alt="Foto de Perfil" class="img-fluid" id="fotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1 id="nombre">{{persona.nombre}} {{persona.apellido}}</h1>
        <h2>Full Stack Developer Jr.</h2>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h3>Acerca de mi</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia odio, voluptatibus possimus pariatur consequuntur explicabo vero maiores ab nisi vitae rerum. Illum adipisci illo dolore debitis ipsum beatae animi ducimus.</p>
        </span>
    </div>
</div>